<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extension Manager</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper row purple">
            <div class="col s4">
                <% if (isLoggedIn) { %>
                    <a href="/logout" class="btn red">Log out</a>
                <% } else { %>
                    <a href="/login" class="btn blue">Log in</a>
                <% } %>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- Title screen -->
        <div class="center-align">
            <br>
            <h2><%=user.name%>'s Inventory</h2>

            <table id="inventory-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Last Modified</th>
                    </tr>
                </thead>

                <tbody>
                    <% for (const item of items) { %>
                        <tr>
                            <td><a href="/app/item/<%= item.id %>"" class="btn-floating btn-small purple waves-effect waves-light">
                                <i class="material-icons">info</i>
                            </a></td>
                            <td><%= item.name %></td>
                            <td><%= item.description %></td>
                            <td><%= item.quantity %></td>
                            <td style="color: gray; font-size: 0.8em"><%= new Date(item.lastModified).toLocaleDateString('en-US', { hour: "numeric", minute: "numeric", second: "numeric" }) %></td>
                            <td> <a class="delete-item-btn btn-floating btn-small red waves-effect waves-light"
                                href="/app/item/<%= item.id %>/delete">
                                <i class="material-icons">delete</i>
                            </a></td>
                        </td>
                    <% } %>
                </tbody>
            </table>

            <br>
            <br>
            <!-- data-target links to materialize -->
            <a href="#new-note" class="modal-trigger center-align btn-small blue waves-effect waves-light">
                <i class="material-icons right">create</i>
                New Item
            </a>

            <div id="new-note" class="modal">
                <!-- lol -->
                <form method="post" action="/app/item/new">
                    <div class="modal-content">
                        <h4>New Item</h4>
                        <div class="row">
                            <div class="input-field col s6">
                                <input maxlength="32" name="name" class="validate" required style="font-size: 1.5em"
                                    id="name" type="text">
                                <label for="name">Item Name</label>
                            </div>
                            <div class="col s2"></div>
                            <div class="input-field col s4">
                                <input class="validate" required value=1 name="quantity" id="quantity" type="number">
                                <label for="quantity">Quantity</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea maxlength="400" id="description" class="materialize-textarea" name="description"
                                    type="text"></textarea>
                                 <label for="description">Description</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer center-align">
                        <a href="#!" class="modal-close left btn-flat waves-effect waves-dark">
                            <i class="material-icons left">cancel</i>
                            Cancel
                        </a>
                        <button type="submit" class="right teal white-text btn-flat waves-effect waves-light">
                            <i class="material-icons right">add_circle</i>
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/materializeLoad.js"></script>

</html>